<section class="flex flex-col lg:flex-row gap-8 lg:gap-12 w-full px-6 sm:px-8 lg:px-12 justify-center items-center bg-white mb-10 min-h-screen" id="about">
  <!-- lado izquierdo -->
  <div class="flex flex-col items-center justify-center w-full lg:w-2/3 p-6 rounded-lg">
    <h2 class="text-4xl font-bold mb-4 text-center font-[Winky Rough]">Sobre mí</h2>
    <p class="text-gray-700 text-justify leading-relaxed text-lg">
    ¡Hola! Soy Daniel Abraham Cerritos Rivera, Tengo 18 años y estudio Ingeniería en Desarrollo de Software en la Universidad de El Salvador. Me apasiona crear proyectos desde cero, sobre todo páginas web y sistemas útiles, con un enfoque en diseño minimalista y cute. Aprendo rápido, me adapto fácil y estoy constantemente mejorando mis habilidades en tecnologías como Astro, Tailwind, Electron y C++.
  <br>
    Actualmente desarrollo proyectos personales enfocados en automatización, asistencia inteligente y herramientas académicas. Me interesa todo lo relacionado con innovación tecnológica, inteligencia artificial y desarrollo frontend. Siempre busco combinar funcionalidad con una buena experiencia visual y práctica.
    </p>


  </div>

  <!-- lado derecho -->
  <div class="flex flex-col justify-start p-6 bg-gray-100 rounded-lg shadow-lg border-blue-900">
    <div class="flex justify-start items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mt-[-15px] text-red-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
      </svg>
      <h2 class="text-2xl font-bold mb-4">Resumen rápido</h2>
    </div>
    <div class="gap-5"><span class="font-bold gap-2">Edad: </span> <span>18 años</span></div>
    <div class="gap-5"><span class="font-bold gap-2">Ubicación: </span> <span>El Salvador</span></div>
    <div class="gap-5"><span class="font-bold gap-2">Estado: </span> <span>Estudiante activo</span></div>
    <div class="gap-5"><span class="font-bold gap-2">Idiomas: </span> <span>Español, Inglés</span></div>
    <div class="gap-5"><span class="font-bold gap-2">Tecnologías: </span> <span>HTML, CSS, JavaScript, Astro, Tailwind, Electron</span></div>
  </div>
</section>
